<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>Enjoying in Jeju! | 테마별 추천</title>
  <link rel="stylesheet" href="/css/setting.css">
  <link rel="stylesheet" href="/css/plugin.css">
  <link rel="stylesheet" href="/css/template.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!-- [S]glamping-N1 -->
  <header class="glamping-N1" data-bid="oJLQ64GW3P">
    <div class="header-container container-lg">
      <div class="header-left">
        <h1 class="header-title">
          <a href="/index.html">
            <img src="/images/img_logo_white.png" alt="로고" style="margin-top: -40px;">
          </a>
        </h1>
      </div>
<!--       <div class="header-center"> -->
<!--         <ul class="header-member"> -->
<!--           <li> -->
<!--             <a href="/Login">로그인</a> -->
<!--           </li> -->
<!--           <li> -->
<!--             <a href="javascript:void(0)">회원가입</a> -->
<!--           </li> -->
<!--         </ul> -->
<!--         <ul class="header-gnblist"> -->
<!--           <li class="header-gnbitem"> -->
<!--             <a class="header-gnblink" href="javascript:void(0)"> -->
<!--               <span>템하소개</span> -->
<!--             </a> -->
<!--             <ul class="header-sublist"> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>인사말</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>산책로소개</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>오시는길</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           <li class="header-gnbitem"> -->
<!--             <a class="header-gnblink" href="javascript:void(0)"> -->
<!--               <span>글램핑안내</span> -->
<!--             </a> -->
<!--             <ul class="header-sublist"> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>글램핑안내</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>템하 글램핑</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>파인 글램핑</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>뷰모노 글램핑</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>노르웨이 글램핑</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>이글루 글램핑</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           <li class="header-gnbitem"> -->
<!--             <a class="header-gnblink" href="javascript:void(0)"> -->
<!--               <span>템하이벤트</span> -->
<!--             </a> -->
<!--             <ul class="header-sublist"> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>편의시설</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>모닥불/캠프파이어</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>액티비티</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>템하 이벤트</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           <li class="header-gnbitem"> -->
<!--             <a class="header-gnblink" href="javascript:void(0)"> -->
<!--               <span>예약하기</span> -->
<!--             </a> -->
<!--             <ul class="header-sublist"> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>예약하기</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           <li class="header-gnbitem"> -->
<!--             <a class="header-gnblink" href="javascript:void(0)"> -->
<!--               <span>커뮤니티</span> -->
<!--             </a> -->
<!--             <ul class="header-sublist"> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>공지사항</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>FAQ</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="/Board"> -->
<!--                   <span>미디어</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="/CafeBoard"> -->
<!--                   <span>온라인 문의</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--         </ul> -->
<!--       </div> -->
      <div class="header-right">
        <div class="header-utils">
          <ul class="fullmenu-member">
            <li>
              <a href="/Login">로그인</a>
            </li>
            <li>
              <a href="/UserInfo">회원가입</a>
            </li>
            <li>
            	<a href="#">현재날씨</a>
            </li>
             <li>
            	<a href="#">아이콘</a>
            </li>
          </ul>
          <button class="btn-allmenu header-utils-btn">
            <img src="/icons/ico_menu_white.svg" alt="PC메뉴">
          </button>
          <button class="btn-momenu header-utils-btn">
            <img src="/icons/ico_menu_white.svg" alt="모바일메뉴">
          </button>
          <button class="btn-moclose header-utils-btn">
            <img src="/icons/ico_close_white.svg" alt="닫기">
          </button>
        </div>
      </div>
    </div>
    <div class="header-fullmenu fullmenu-right">
      <div class="fullmenu-wrapper">
        <div class="fullmenu-head">
          <h4 class="fullmenu-title">
            <a href="javascript:void(0)">
              <img src="images/img_logo_white.png" alt="로고">
            </a>
          </h4>
          <ul class="fullmenu-member">
            <li>
              <a href="/Login">로그인</a>
            </li>
            <li>
              <a href="/UserInfo">회원가입</a>
            </li>
          </ul>
        </div>
        <ul class="fullmenu-gnblist">
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>템하소개</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>인사말</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>산책로소개</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>오시는길</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>글램핑안내</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>글램핑안내</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>템하 글램핑</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>파인 글램핑</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>뷰모노 글램핑</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>노르웨이 글램핑</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>이글루 글램핑</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>템하이벤트</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>편의시설</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>모닥불/캠프파이어</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>액티비티</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>템하 이벤트</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>예약하기</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>예약하기</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>커뮤니티</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>공지사항</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>FAQ</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="/Board">
                  <span>미디어</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="/CafeBoard">
                  <span>온라인 문의</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <button class="fullmenu-close">
        <img src="/icons/ico_close_white.svg" alt="닫기">
      </button>
    </div>
  </header>
  <!-- [E]glamping-N1 -->
  <main class="th-layout-main ">
    <!-- [S]glamping-N10 -->
    <div class="glamping-N10" data-bid="eClQ64Gw58">
      <div class="contents-container"  style="height:80rem;">
<!--         <img class="contents-subvisual img-pc" src="/images/jido.jpg" alt="PC 서브 비주얼 이미지"> -->
        <div class="textset textset-visual container-md">
          <h5 class="textset-tit" style="color: black; display: flex; justify-content: center; margin-top: -230px">원두를 직접 볶는 카페</h5>
        <div class="cardset-wrap" style="position: absolute; margin-top : 50px;">
            <a href="javascript:void(0);" class="cardset" style="width: calc(100% / 1.5); padding: 2rem;">
              <figure class="cardset-figure">
                <img class="cardset-img" src="/images/cafe1.png">
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit">해지개
                <div class="star-ratings">
					<div class="star-ratings-fill space-x-2 text-lg" :style="{ width: ratingToPercent + '%' }" style="position: absolute; right: 20px; top: 445px;">
						<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
					</div>
				</div>
				</h2>
                <p class="cardset-txt">2023. 01. 01</p>
              </div>
            </a>
            <a href="javascript:void(0);" class="cardset" style="width: calc(100% / 1.5); padding: 2rem;">
              <figure class="cardset-figure">
                <img class="cardset-img" src="/images/cafe2.jpg" alt="카드 이미지">
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit">런던베이글뮤지엄 제주점
                <div class="star-ratings">
					<div class="star-ratings-fill space-x-2 text-lg" :style="{ width: ratingToPercent + '%' }" style="position: absolute; right: 20px; top: 445px;">
						<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
					</div>
				</div>
                </h2>
                <p class="cardset-txt">2023. 01. 01</p>
              </div>
            </a>
            <a href="javascript:void(0);" class="cardset" style="width: calc(100% / 1.5); padding: 2rem;">
              <figure class="cardset-figure">
                <img class="cardset-img" src="/images/cafe3.jpg" alt="카드 이미지">
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit">아베베 베이커리
                <div class="star-ratings">
					<div class="star-ratings-fill space-x-2 text-lg" :style="{ width: ratingToPercent + '%' }" style="position: absolute; right: 20px; top: 445px;">
						<span>★</span><span>★</span><span>★</span><span>★</span>
					</div>
				</div>
                </h2>
                <p class="cardset-txt">2023. 01. 01</p>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!-- [E]glamping-N10 -->
    <!-- [S]glamping-N11 -->
    <div class="glamping-N11" data-bid="NtLQ64gW6v">
      <div class="contents-container">
        <div class="tabset tabset-fluid border-bottom">
          <ul class="tabset-list tabset-lg container-md">
<!--             <li class="tabset-item"> -->
              <a class="tabset-link">
                <h1>추천 테마</h1>
              </a>
<!--             </li> -->
          </ul>
        </div>
      </div>
    </div>
    <!-- [E]glamping-N11 -->
    <!-- [S]glamping-N41 -->
    <div class="glamping-N41" data-bid="qIlq64Gw7A">
      <div class="contents-inner">
        <div class="contents-container container-md">
<!--           <div class="contents-top"> -->
<!--             <p class="contents-text">총 <strong>25</strong>개의 게시물이 있습니다.</p> -->
<!--             <div class="inputset inputset-border-bottom"> -->
<!--               <button class="inputset-icon icon-right icon-search btn" type="button" aria-label="아이콘"></button> -->
<!--               <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용"> -->
<!--             </div> -->
<!--           </div> -->
          <div class="cardset-wrap">
            <a href="javascript:void(0);" class="cardset" style="width: calc(100%/6)";>
              <figure class="cardset-figure">
                <img class="cardset-img" src="/images/cafe1.png" alt="카드 이미지" style="border-radius:30px;">
              </figure>
            </a>
            <a href="javascript:void(0);" class="cardset" style="width: calc(100%/6)";>
              <figure class="cardset-figure">
                <img class="cardset-img" src="/images/cafe2.jpg" alt="카드 이미지" style="border-radius:30px;">
              </figure>
            </a>
            <a href="javascript:void(0);" class="cardset" style="width: calc(100%/6)";>
              <figure class="cardset-figure">
                <img class="cardset-img" src="/images/cafe3.jpg" alt="카드 이미지" style="border-radius:30px;">
              </figure>
            </a>
            <a href="javascript:void(0);" class="cardset" style="width: calc(100%/6)";>
              <figure class="cardset-figure">
                <img class="cardset-img" src="/images/cafe4.jpg" alt="카드 이미지" style="border-radius:30px;">
              </figure>
            </a>
            <a href="javascript:void(0);" class="cardset" style="width: calc(100%/6)";>
              <figure class="cardset-figure">
                <img class="cardset-img" src="/images/cafe5.jpg" alt="카드 이미지" style="border-radius:30px;" >
              </figure>
            </a>
            <a href="javascript:void(0);" class="cardset" style="width: calc(100%/6)";>
              <figure class="cardset-figure">
                <img class="cardset-img" src="/images/cafe6.jpg" alt="카드 이미지" style="border-radius:30px;">
              </figure>
            </a>
<!--             <a href="javascript:void(0);" class="cardset"> -->
<!--               <figure class="cardset-figure"> -->
<!--                 <img class="cardset-img" src="/images/cafe7.jpg" alt="카드 이미지"> -->
<!--               </figure> -->
<!--               <div class="cardset-body"> -->
<!--                 <h2 class="cardset-tit">더클리프 -->
<!--                 <div class="star-ratings"> -->
<!-- 					<div class="star-ratings-fill space-x-2 text-lg" :style="{ width: ratingToPercent + '%' }" style="position: absolute; right: 20px; top: 420px;"> -->
<!-- 						<span>★</span><span>★</span><span>★</span><span>★</span> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!--                 </h2> -->
<!--                 <p class="cardset-txt">2023. 01. 01</p> -->
<!--               </div> -->
<!--             </a> -->
<!--             <a href="javascript:void(0);" class="cardset"> -->
<!--               <figure class="cardset-figure"> -->
<!--                 <img class="cardset-img" src="/images/cafe8.jpg" alt="카드 이미지"> -->
<!--               </figure> -->
<!--               <div class="cardset-body"> -->
<!--                 <h2 class="cardset-tit">우무 -->
<!--                 <div class="star-ratings"> -->
<!-- 					<div class="star-ratings-fill space-x-2 text-lg" :style="{ width: ratingToPercent + '%' }" style="position: absolute; right: 20px; top: 420px;"> -->
<!-- 						<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!--                 </h2> -->
<!--                 <p class="cardset-txt">2023. 01. 01</p> -->
<!--               </div> -->
<!--             </a> -->
<!--             <a href="javascript:void(0);" class="cardset"> -->
<!--               <figure class="cardset-figure"> -->
<!--                 <img class="cardset-img" src="/images/cafe9.jpg" alt="카드 이미지"> -->
<!--               </figure> -->
<!--               <div class="cardset-body"> -->
<!--                 <h2 class="cardset-tit">마마롱 -->
<!--                 <div class="star-ratings"> -->
<!-- 					<div class="star-ratings-fill space-x-2 text-lg" :style="{ width: ratingToPercent + '%' }" style="position: absolute; right: 20px; top: 420px;"> -->
<!-- 						<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!--                 </h2> -->
<!--                 <p class="cardset-txt">2023. 01. 01</p> -->
<!--               </div> -->
<!--             </a> -->
          </div>
          <nav class="pagiset pagiset-circ">
            <div class="pagiset-ctrl">
              <a class="pagiset-link pagiset-first" href="javascript:void(0)">
                <span class="visually-hidden">처음</span>
              </a>
            </div>
            <div class="pagiset-ctrl">
              <a class="pagiset-link pagiset-prev" href="javascript:void(0)">
                <span class="visually-hidden">이전</span>
              </a>
            </div>
            <div class="pagiset-list">
              <a class="pagiset-link active-fill" href="javascript:void(0)">1</a>
              <a class="pagiset-link" href="javascript:void(0)">2</a>
              <a class="pagiset-link" href="javascript:void(0)">3</a>
            </div>
            <div class="pagiset-ctrl">
              <a class="pagiset-link pagiset-next" href="javascript:void(0)">
                <span class="visually-hidden">다음</span>
              </a>
            </div>
            <div class="pagiset-ctrl">
              <a class="pagiset-link pagiset-last" href="javascript:void(0)">
                <span class="visually-hidden">마지막</span>
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <!-- [E]glamping-N41 -->
  </main>
  <!-- [S]glamping-N3 -->
<!--   <footer class="glamping-N3" data-bid="DclQ64gw88"> -->
<!--     <div class="footer-container"> -->
<!--       <img class="footer-backimg img-pc" src="/images/img_footer.png" alt="PC 푸터 비주얼"> -->
<!--       <img class="footer-backimg img-mobile" src="/images/img_footer_mobile.png" alt="모바일 푸터 비주얼"> -->
<!--       <div class="footer-body container-md"> -->
<!--         <h2 class="footer-logo"> -->
<!--           <a href="javascript:void(0)"> -->
<!--             <img src="/images/img_logo_white.png" alt="로고"> -->
<!--           </a> -->
<!--         </h2> -->
<!--         <ul class="footer-menulist"> -->
<!--           <li class="footer-menuitem"> -->
<!--             <a href="javascript:void(0)"> -->
<!--               <span>템하소개</span> -->
<!--             </a> -->
<!--             <ul class="footer-sublist"> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>캠핑스토리</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>캠핑영상</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>오시는길</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           <li class="footer-menuitem"> -->
<!--             <a href="javascript:void(0)"> -->
<!--               <span>글램핑안내</span> -->
<!--             </a> -->
<!--             <ul class="footer-sublist"> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>객실안내</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>주변관광정보</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>서비스안내</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           <li class="footer-menuitem"> -->
<!--             <a href="javascript:void(0)"> -->
<!--               <span>템하이벤트</span> -->
<!--             </a> -->
<!--             <ul class="footer-sublist"> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>템하이벤트</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           <li class="footer-menuitem"> -->
<!--             <a href="javascript:void(0)"> -->
<!--               <span>예약하기</span> -->
<!--             </a> -->
<!--             <ul class="footer-sublist"> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>예약하기</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           <li class="footer-menuitem"> -->
<!--             <a href="javascript:void(0)"> -->
<!--               <span>커뮤니티</span> -->
<!--             </a> -->
<!--             <ul class="footer-sublist"> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>공지사항</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="/CafeBoard"> -->
<!--                   <span>이용문의</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>갤러리</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--         </ul> -->
<!--         <ul class="footer-snslist"> -->
<!--           <li class="footer-snsitem"> -->
<!--             <a class="footer-snslink" href="javascript:void(0)"> -->
<!--               <img src="/icons/ico_instagram_white.svg" alt="인스타그램"> -->
<!--             </a> -->
<!--           </li> -->
<!--           <li class="footer-snsitem"> -->
<!--             <a class="footer-snslink" href="javascript:void(0)"> -->
<!--               <img src="/icons/ico_youtube_white.svg" alt="유튜브"> -->
<!--             </a> -->
<!--           </li> -->
<!--           <li class="footer-snsitem"> -->
<!--             <a class="footer-snslink" href="javascript:void(0)"> -->
<!--               <img src="/icons/ico_facebook_white.svg" alt="페이스북"> -->
<!--             </a> -->
<!--           </li> -->
<!--         </ul> -->
<!--         <ul class="footer-menugroup"> -->
<!--           <li class="footer-menulink"> -->
<!--             <a href="javascript:void(0)"> -->
<!--               <span>이용약관</span> -->
<!--             </a> -->
<!--           </li> -->
<!--           <li class="footer-menulink"> -->
<!--             <a href="javascript:void(0)"> -->
<!--               <span>개인정보처리방침</span> -->
<!--             </a> -->
<!--           </li> -->
<!--           <li class="footer-menulink"> -->
<!--             <a href="javascript:void(0)"> -->
<!--               <span>푸터메뉴1</span> -->
<!--             </a> -->
<!--           </li> -->
<!--           <li class="footer-menulink"> -->
<!--             <a href="javascript:void(0)"> -->
<!--               <span>푸터메뉴2</span> -->
<!--             </a> -->
<!--           </li> -->
<!--         </ul> -->
<!--         <div class="footer-txtgroup"> -->
<!--           <div class="footer-txt"> -->
<!--             <p> 서울시 영등포구 선유로70 우리벤처타운2 705호 </p> -->
<!--             <p> -->
<!--               <span>T. 070-8872-8874</span> -->
<!--               <span>E. help@openfield.co.kr</span> -->
<!--             </p> -->
<!--           </div> -->
<!--           <div class="footer-txt"> -->
<!--             <p>2023 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p> -->
<!--           </div> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--   </footer> -->
  <!-- [E]glamping-N3 -->
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
</body>