<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>Enjoying in Jeju! | 회원가입</title>
  <link rel="stylesheet" href="/css/setting.css">
  <link rel="stylesheet" href="/css/plugin.css">
  <link rel="stylesheet" href="/css/template.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!-- [S]glamping-N2 -->
  <header class="glamping-N2" data-bid="XtlQ64FlKM">
    <div class="header-container container-lg">
      <div class="header-left">
        <h1 class="header-title">
          <a href="/index.html">
            <img src="/images/img_logo_black.png" alt="로고">
          </a>
        </h1>
      </div>
<!--       <div class="header-center"> -->
<!--         <ul class="header-member"> -->
<!--           <li> -->
<!--             <a href="/Login">로그인</a> -->
<!--           </li> -->
<!--           <li> -->
<!--             <a href="/UserInfo">회원가입</a> -->
<!--           </li> -->
<!--         </ul> -->
<!--         <ul class="header-gnblist"> -->
<!--           <li class="header-gnbitem"> -->
<!--             <a class="header-gnblink" href="javascript:void(0)"> -->
<!--               <span>템하소개</span> -->
<!--             </a> -->
<!--             <ul class="header-sublist"> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>인사말</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>산책로소개</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>오시는길</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           <li class="header-gnbitem"> -->
<!--             <a class="header-gnblink" href="javascript:void(0)"> -->
<!--               <span>글램핑안내</span> -->
<!--             </a> -->
<!--             <ul class="header-sublist"> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>글램핑안내</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>템하 글램핑</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>파인 글램핑</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>뷰모노 글램핑</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>노르웨이 글램핑</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>이글루 글램핑</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           <li class="header-gnbitem"> -->
<!--             <a class="header-gnblink" href="javascript:void(0)"> -->
<!--               <span>템하이벤트</span> -->
<!--             </a> -->
<!--             <ul class="header-sublist"> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>편의시설</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>모닥불/캠프파이어</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>액티비티</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>템하 이벤트</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           <li class="header-gnbitem"> -->
<!--             <a class="header-gnblink" href="javascript:void(0)"> -->
<!--               <span>예약하기</span> -->
<!--             </a> -->
<!--             <ul class="header-sublist"> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>예약하기</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           <li class="header-gnbitem"> -->
<!--             <a class="header-gnblink" href="javascript:void(0)"> -->
<!--               <span>커뮤니티</span> -->
<!--             </a> -->
<!--             <ul class="header-sublist"> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>공지사항</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="javascript:void(0)"> -->
<!--                   <span>FAQ</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="/Board"> -->
<!--                   <span>미디어</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="header-subitem"> -->
<!--                 <a class="header-sublink" href="/CafeBoard"> -->
<!--                   <span>온라인 문의</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--         </ul> -->
<!--       </div> -->
      <div class="header-right">
        <div class="header-utils">
          <ul class="fullmenu-member">
            <li>
              <a href="/Login" style="color:black;">로그인</a>
            </li>
            <li>
              <a href="/UserInfo" style="color:black;">회원가입</a>
            </li>
            <li>
            	<a href="#" style="color:black;">현재날씨</a>
            </li>
             <li>
            	<a href="#" style="color:black;">아이콘</a>
            </li>
          </ul>        
          <a href="javascipt:void(0);" class="btn-user header-utils-btn">
            <img src="/icons/ico_user_black.svg" alt="유저 아이콘">
          </a>
          <button class="btn-allmenu header-utils-btn">
            <img src="/icons/ico_menu_black.svg" alt="PC메뉴">
          </button>
          <button class="btn-momenu header-utils-btn">
            <img src="/icons/ico_menu_black.svg" alt="모바일메뉴">
          </button>
          <button class="btn-moclose header-utils-btn">
            <img src="/icons/ico_close_black.svg" alt="닫기">
          </button>
        </div>
      </div>
    </div>
    <div class="header-fullmenu fullmenu-top">
      <div class="fullmenu-wrapper">
        <div class="fullmenu-head">
          <h4 class="fullmenu-title">
            <a href="javascript:void(0)">
              <img src="/images/img_logo_white.png" alt="로고">
            </a>
          </h4>
          <ul class="fullmenu-member">
            <li>
              <a href="/Login">로그인</a>
            </li>
            <li>
              <a href="/UserInfo">회원가입</a>
            </li>
          </ul>
        </div>
        <ul class="fullmenu-gnblist">
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>템하소개</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>인사말</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>산책로소개</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>오시는길</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>글램핑안내</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>글램핑안내</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>템하 글램핑</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>파인 글램핑</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>뷰모노 글램핑</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>노르웨이 글램핑</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>이글루 글램핑</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>템하이벤트</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>편의시설</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>모닥불/캠프파이어</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>액티비티</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>템하 이벤트</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>예약하기</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>예약하기</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>커뮤니티</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>공지사항</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>FAQ</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="/Board">
                  <span>미디어</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="/CafeBoard">
                  <span>온라인 문의</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <button class="fullmenu-close">
        <img src="/icons/ico_close_white.svg" alt="닫기">
      </button>
    </div>
  </header>
  <!-- [E]glamping-N2 -->
  <main class="th-layout-main ">
    <!-- [S]glamping-N45 -->
    <div class="glamping-N45" data-bid="IHlQ64FLm9">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset">
            <h2 class="textset-tit">회원가입</h2>
            <p class="textset-desc">Enjoying in Jeju에 오신걸 환영합니다.</p>
          </div>
<!--           <ul class="contents-list"> -->
<!--             <li class="contents-item item-check"> -->
<!--               <span>1</span> -->
<!--             </li> -->
<!--             <li class="contents-item item-active"> -->
<!--               <span>2</span> -->
<!--             </li> -->
<!--             <li class="contents-item"> -->
<!--               <span>3</span> -->
<!--             </li> -->
<!--           </ul> -->
        </div>
      </div>
    </div>
    <!-- [E]glamping-N45 -->
    <!-- [S]glamping-N47 -->
    <div class="glamping-N47" data-bid="XBlq64fLMV">
    <form name="form" method="post" onsubmit="return checkAll();">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="contents-top">
            <h2 class="contents-tit">정보입력</h2>
            <span>* 표시는 반드시 입력하셔야 하는 항목입니다</span>
          </div>
          <div class="contents-group">
            <div class="form-wrap">
              <h6 class="form-tit">아이디 <span>*</span>
              </h6>
              <div class="contents-form-group">
                <div class="inputset inputset-round">
                  <input type="text" class="inputset-input form-control" aria-label="내용" placeholder="아이디를 입력하세요"  name="userid" id="userid">
                </div>
                <button class="btnset btnset-round" type="buton" onclick="idcheck();">중복확인</button>
              </div>
              <span id="olmessage"></span>
            </div>
            <div class="form-wrap">
              <h6 class="form-tit">비밀번호 <span>*</span>
              </h6>
              <div class="inputset inputset-round">
                <input type="text" class="inputset-input form-control" aria-label="내용" placeholder="비밀번호를 입력하세요" name="password" required/>
              </div>
            </div>
            <div class="form-wrap">
              <h6 class="form-tit">비밀번호 확인 <span>*</span>
              </h6>
              <div class="inputset inputset-round">
                <input type="text" class="inputset-input form-control" aria-label="내용" placeholder="비밀번호를 다시한번 입력하세요" name="password2" required/>
              </div>
            </div>
            <div class="form-wrap">
              <h6 class="form-tit">이름 <span>*</span>
              </h6>
              <div class="inputset inputset-round">
                <input type="text" class="inputset-input form-control" aria-label="내용" placeholder="이름을 입력하세요" name="username" required/>
              </div>
            </div>
            <div class="form-wrap">
              <h6 class="form-tit">이메일 <span>*</span>
              </h6>
              <div class="contents-form-group">
                <div class="inputset inputset-round">
                  <div class="contents-mail">
                    <input type="text" class="inputset-input form-control" aria-label="내용" placeholder="이메일을 입력하세요" name="useremail" required/>
                    <span>@</span>
                    <input type="text" class="inputset-input form-control" aria-label="내용" placeholder="예)OOOO.com" name="useremail1" required/>
                  </div>
                </div>
              </div>
<!--               <div class="selectset selectset-round selectset-md"> -->
<!--                 <button class="selectset-toggle btn" type="button"> -->
<!--                   <span>선택해주세요</span> -->
<!--                 </button> -->
<!--                 <ul class="selectset-list"> -->
<!--                   <li class="selectset-item"> -->
<!--                     <button class="selectset-link btn" type="button" data-value="직접입력" selected=""> -->
<!--                       <span>직접입력</span> -->
<!--                     </button> -->
<!--                   </li> -->
<!--                   <li class="selectset-item"> -->
<!--                     <button class="selectset-link btn" type="button" data-value="naver.com"> -->
<!--                       <span>naver.com</span> -->
<!--                     </button> -->
<!--                   </li> -->
<!--                   <li class="selectset-item"> -->
<!--                     <button class="selectset-link btn" type="button" data-value="daum.net"> -->
<!--                       <span>daum.net</span> -->
<!--                     </button> -->
<!--                   </li> -->
<!--                   <li class="selectset-item"> -->
<!--                     <button class="selectset-link btn" type="button" data-value="gmail.com"> -->
<!--                       <span>gmail.com</span> -->
<!--                     </button> -->
<!--                   </li> -->
<!--                   <li class="selectset-item"> -->
<!--                     <button class="selectset-link btn" type="button" data-value="nate.com"> -->
<!--                       <span>nate.com</span> -->
<!--                     </button> -->
<!--                   </li> -->
<!--                 </ul> -->
<!--               </div> -->
            </div>
            <div class="form-wrap">
              <h6 class="form-tit">연락처 <span>*</span>
              </h6>
              <div class="inputset inputset-round">
                <input type="text" class="inputset-input form-control" aria-label="내용" placeholder="-없이 번호를 입력해하세요" name="phone" required/>
              </div>
            </div>
            <div class="form-wrap">
              <h6 class="form-tit">주소</h6>
              <div class="contents-address">
                <div class="contents-form-group">
<!--                   <div class="inputset inputset-round"> -->
<!--                     <input type="text" class="inputset-input form-control" aria-label="내용"> -->
<!--                   </div> -->
                  <button class="btnset btnset-round" type="buton" onclick="sample6_execDaumPostcode()">주소검색</button>
                </div>
                <div class="inputset inputset-round">
<!--                   <input type="text" class="inputset-input form-control" aria-label="내용" required=""> -->
                  <input type="text" id="sample6_postcode" class="inputset-input form-control" placeholder="우편번호">
					<input type="text" id="sample6_address" class="inputset-input form-control" placeholder="주소"><br>
					<input type="text" id="sample6_detailAddress" class="inputset-input form-control" placeholder="상세주소">
					<input type="text" id="sample6_extraAddress" class="inputset-input form-control" placeholder="참고항목">
                </div>
              </div>
            </div>
          </div>
          <div class="contents-btn-group">
            <a href="/Login" class="btnset btnset-line btnset-round">이전단계</a>
            <input type="submit" class="btnset btnset-round" value="확인">
            <!--  -->
          </div>
        </div>
      </div>
      </form>
    </div>
    <!-- [E]glamping-N47 -->
  </main>
  <!-- [S]glamping-N3 -->
<!--   <footer class="glamping-N3" data-bid="FClQ64FlNF"> -->
<!--     <div class="footer-container"> -->
<!--       <img class="footer-backimg img-pc" src="/images/img_footer.png" alt="PC 푸터 비주얼"> -->
<!--       <img class="footer-backimg img-mobile" src="/images/img_footer_mobile.png" alt="모바일 푸터 비주얼"> -->
<!--       <div class="footer-body container-md"> -->
<!--         <h2 class="footer-logo"> -->
<!--           <a href="javascript:void(0)"> -->
<!--             <img src="/images/img_logo_white.png" alt="로고"> -->
<!--           </a> -->
<!--         </h2> -->
<!--         <ul class="footer-menulist"> -->
<!--           <li class="footer-menuitem"> -->
<!--             <a href="javascript:void(0)"> -->
<!--               <span>템하소개</span> -->
<!--             </a> -->
<!--             <ul class="footer-sublist"> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>캠핑스토리</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>캠핑영상</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>오시는길</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           <li class="footer-menuitem"> -->
<!--             <a href="javascript:void(0)"> -->
<!--               <span>글램핑안내</span> -->
<!--             </a> -->
<!--             <ul class="footer-sublist"> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>객실안내</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>주변관광정보</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>서비스안내</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           <li class="footer-menuitem"> -->
<!--             <a href="javascript:void(0)"> -->
<!--               <span>템하이벤트</span> -->
<!--             </a> -->
<!--             <ul class="footer-sublist"> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>템하이벤트</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           <li class="footer-menuitem"> -->
<!--             <a href="javascript:void(0)"> -->
<!--               <span>예약하기</span> -->
<!--             </a> -->
<!--             <ul class="footer-sublist"> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>예약하기</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           <li class="footer-menuitem"> -->
<!--             <a href="javascript:void(0)"> -->
<!--               <span>커뮤니티</span> -->
<!--             </a> -->
<!--             <ul class="footer-sublist"> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>공지사항</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>이용문의</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--               <li class="footer-subitem"> -->
<!--                 <a href="javascript:void(0)"> -->
<!--                   <span>갤러리</span> -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--         </ul> -->
<!--         <ul class="footer-snslist"> -->
<!--           <li class="footer-snsitem"> -->
<!--             <a class="footer-snslink" href="javascript:void(0)"> -->
<!--               <img src="/icons/ico_instagram_white.svg" alt="인스타그램"> -->
<!--             </a> -->
<!--           </li> -->
<!--           <li class="footer-snsitem"> -->
<!--             <a class="footer-snslink" href="javascript:void(0)"> -->
<!--               <img src="/icons/ico_youtube_white.svg" alt="유튜브"> -->
<!--             </a> -->
<!--           </li> -->
<!--           <li class="footer-snsitem"> -->
<!--             <a class="footer-snslink" href="javascript:void(0)"> -->
<!--               <img src="/icons/ico_facebook_white.svg" alt="페이스북"> -->
<!--             </a> -->
<!--           </li> -->
<!--         </ul> -->
<!--         <ul class="footer-menugroup"> -->
<!--           <li class="footer-menulink"> -->
<!--             <a href="javascript:void(0)"> -->
<!--               <span>이용약관</span> -->
<!--             </a> -->
<!--           </li> -->
<!--           <li class="footer-menulink"> -->
<!--             <a href="javascript:void(0)"> -->
<!--               <span>개인정보처리방침</span> -->
<!--             </a> -->
<!--           </li> -->
<!--           <li class="footer-menulink"> -->
<!--             <a href="javascript:void(0)"> -->
<!--               <span>푸터메뉴1</span> -->
<!--             </a> -->
<!--           </li> -->
<!--           <li class="footer-menulink"> -->
<!--             <a href="javascript:void(0)"> -->
<!--               <span>푸터메뉴2</span> -->
<!--             </a> -->
<!--           </li> -->
<!--         </ul> -->
<!--         <div class="footer-txtgroup"> -->
<!--           <div class="footer-txt"> -->
<!--             <p> 서울시 영등포구 선유로70 우리벤처타운2 705호 </p> -->
<!--             <p> -->
<!--               <span>T. 070-8872-8874</span> -->
<!--               <span>E. help@openfield.co.kr</span> -->
<!--             </p> -->
<!--           </div> -->
<!--           <div class="footer-txt"> -->
<!--             <p>2023 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p> -->
<!--           </div> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--   </footer> -->
  <!-- [E]glamping-N3 -->
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script>
   function sample6_execDaumPostcode() {
       new daum.Postcode({
           oncomplete: function(data) {
               // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

               // 각 주소의 노출 규칙에 따라 주소를 조합한다.
               // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
               var addr = ''; // 주소 변수
               var extraAddr = ''; // 참고항목 변수

               //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
               if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                   addr = data.roadAddress;
               } else { // 사용자가 지번 주소를 선택했을 경우(J)
                   addr = data.jibunAddress;
               }

               // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
               if(data.userSelectedType === 'R'){
                   // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                   // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                   if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                       extraAddr += data.bname;
                   }
                   // 건물명이 있고, 공동주택일 경우 추가한다.
                   if(data.buildingName !== '' && data.apartment === 'Y'){
                       extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                   }
                   // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                   if(extraAddr !== ''){
                       extraAddr = ' (' + extraAddr + ')';
                   }
                   // 조합된 참고항목을 해당 필드에 넣는다.
                   document.getElementById("sample6_extraAddress").value = extraAddr;
               
               } else {
                   document.getElementById("sample6_extraAddress").value = '';
               }

               // 우편번호와 주소 정보를 해당 필드에 넣는다.
               document.getElementById('sample6_postcode').value = data.zonecode;
               document.getElementById("sample6_address").value = addr;
               // 커서를 상세주소 필드로 이동한다.
               document.getElementById("sample6_detailAddress").focus();
           }
       }).open();
   }  
   
   
	function idcheck (){
    		var id = $("#userid").val();
    		
    		if(id == '' || id.length == 0) {
    			alert("공백은 ID로 사용할 수 없습니다.");
    			return false;
    		}
		
  	       $.ajax({
  	            type:'post', 
  	            url:"../checkId", 
  	            dataType : 'json',
  	            data: { "user_id" : $("#userid").val() },
  	            success: function(data){ 
  	            	alert(data);
  	            	console.log(data);
  	                if(data == 0){ 
  	                   alert("사용 가능한 아이디입니다.");
					}else{ 
  	                   alert("사용 불가한 아이디 입니다."); 
  	             }
  	                 
  	         },
  	            error : function(error){alert(error);}
  	        });
    }
  </script>
</body>