@charset "utf-8"; 

/* glamping-N4 [pcLq616R2Z] */
.glamping-N4 .contents-container { overflow: hidden; }
.glamping-N4 .contents-swiper { position: relative; }
.glamping-N4 .swiper-wrapper { width: 100%; height: 100vh; }
.glamping-N4 .swiper-slide { position: relative; }
.glamping-N4 .contents-backimg { width: 100%; height: 100%; object-fit: cover; }
.glamping-N4 .contents-slide-group { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 1; width: 100%; padding: 0 2.4rem; text-align: center; }
.glamping-N4 .textset-tit { color: var(--text-color5); }
.glamping-N4 .textset-tit+.textset-desc { margin-top: 2rem; color: var(--text-color5); }
.glamping-N4 .btnset { margin-top: 4rem; border-color: var(--white); color: var(--white); }
.glamping-N4 .btnset:hover { background-color: var(--white); border-color: var(--white); color: var(--text-color1); }
.glamping-N4 .contents-control { display: flex; align-items: center; position: absolute; left: 50%; transform: translateX(-50%); bottom: 4.5rem; z-index: 100; }
.glamping-N4 .swiper-button-prev { left: 8.2rem; width: 5.4rem; height: 5.4rem; background-color: rgba(var(--black-rgb), 0.8); border-radius: 50%; }
.glamping-N4 .swiper-button-prev:after { content: ''; width: 2.8rem; height: 2.8rem; background-image: url("/icons/ico_arrow_left_withe.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; opacity: 0.5; }
.glamping-N4 .swiper-button-prev:hover::after { opacity: 1; }
.glamping-N4 .swiper-button-next { right: 8.2rem; width: 5.4rem; height: 5.4rem; background-color: rgba(var(--black-rgb), 0.8); border-radius: 50%; }
.glamping-N4 .swiper-button-next:after { content: ''; width: 2.8rem; height: 2.8rem; background-image: url("/icons/ico_arrow_right_withe.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; opacity: 0.5; }
.glamping-N4 .swiper-button-next:hover::after { opacity: 1; }
.glamping-N4 .swiper-pagination { position: relative; left: 0; bottom: 0; }
.glamping-N4 .swiper-pagination-bullet { width: 1rem; height: 1rem; margin: 0 1.2rem 0 0 !important; background-color: rgba(var(--white-rgb), 0.3); opacity: 1; }
.glamping-N4 .swiper-pagination-bullet-active { background-color: var(--white); border: none; }
.glamping-N4 .swiper-button-play { display: none; }
.glamping-N4 .swiper-button-play,.glamping-N4 .swiper-button-pause { flex-shrink: 0; width: 2rem; height: 2rem; opacity: 0.5; cursor: pointer; }
.glamping-N4 .swiper-button-play img,.glamping-N4 .swiper-button-pause img { width: 100%; height: 100%; object-fit: cover; vertical-align: top; }
.glamping-N4 .swiper-button-play:hover,.glamping-N4 .swiper-button-pause:hover { opacity: 1; }
@media (max-width: 992px) {
 .glamping-N4 .swiper-wrapper { height: 68rem; }
 .glamping-N4 .contents-control { bottom: 4rem; }
 .glamping-N4 .swiper-button-next, .glamping-N4 .swiper-button-prev { display: none; }
 .glamping-N4 .swiper-pagination-bullet { width: 0.8rem; height: 0.8rem; }
}

/* glamping-N5 [GPLQ616r3J] */
.glamping-N5 .contents-inner { padding: 8rem 2.4rem; }
.glamping-N5 .cardset-wrap { flex-direction: column; }
.glamping-N5 .cardset { justify-content: space-between; }
.glamping-N5 .cardset+.cardset { margin-top: 10rem; }
.glamping-N5 .cardset .cardset-figure { width: 50%; height: 60rem; }
.glamping-N5 .cardset .cardset-body { width: calc(50% - 13rem); }
.glamping-N5 .cardset.cardset-deco .cardset-tit+.cardset-desc::before { background-color: var(--line-color4); }
@media (max-width: 992px) {
 .glamping-N5 .contents-inner { padding: 5rem 2.4rem; }
 .glamping-N5 .cardset { flex-direction: column-reverse !important; }
 .glamping-N5 .cardset .cardset-figure { width: 100%; height: 30rem; }
 .glamping-N5 .cardset .cardset-body { width: 100%; padding: 0 0 2rem 0; }
}

/* glamping-N6 [solq616R3Z] */
.glamping-N6 { overflow: hidden; }
.glamping-N6 .contents-inner { padding: 8rem 2.4rem; }
.glamping-N6 .contents-container { position: relative; }
.glamping-N6 .imageset { width: calc(100% + 4.8rem); height: 74rem; margin-left: -2.4rem; }
.glamping-N6 .cardset { display: flex; flex-direction: column; justify-content: center; position: absolute; top: 0; right: -2.4rem; width: calc(50% + 4.8rem); height: 100%; padding: 13rem; background-color: rgba(36, 36, 36, 0.8); }
.glamping-N6 .cardset-tit { color: var(--text-color5); }
.glamping-N6 .cardset-desc { color: #e6e6e6; }
.glamping-N6 .cardset.cardset-deco .cardset-tit+.cardset-desc::before { background-color: var(--white); }
.glamping-N6 .btnset { max-width: 11.8rem; }
@media (max-width: 992px) {
 .glamping-N6 .contents-inner { padding: 5rem 2.4rem; }
 .glamping-N6 .imageset { width: calc(100% + 4.8rem); height: 46rem; margin-left: -2.4rem; }
 .glamping-N6 .cardset { position: relative; width: calc(100% + 4.8rem); right: 2.4rem; padding: 4.4rem 2.4rem; background-color: var(--line-color4); }
 .glamping-N6 .cardset .btnset { margin-top: 2rem; }
}

/* glamping-N7 [JNLQ616r4i] */
.glamping-N7 { overflow: hidden; }
.glamping-N7 .contents-inner { padding: 8rem 2.4rem; }
.glamping-N7 .contents-container { position: relative; }
.glamping-N7 .textset { margin-bottom: 7rem; text-align: center; }
.glamping-N7 .textset-tit+.textset-desc { margin-top: 1rem; }
.glamping-N7 .contents-swiper { overflow: hidden; }
.glamping-N7 .swiper-slide { position: relative; width: calc(100% / 4 - 3rem); margin-right: 4rem; }
.glamping-N7 .cardset { width: 100%; }
.glamping-N7 .cardset-figure { height: 23rem; }
.glamping-N7 .contents-control { display: flex; align-items: center; justify-content: center; position: relative; margin-top: 4rem; }
.glamping-N7 .swiper-button-next,.glamping-N7 .swiper-button-prev { top: 50%; transform: translateY(-50%); width: 5.4rem; height: 5.4rem; background-color: var(--line-color4); border-radius: 50%; }
.glamping-N7 .swiper-button-prev { left: auto; right: calc(100% + 6.4rem); }
.glamping-N7 .swiper-button-prev:after { content: ''; width: 2.8rem; height: 2.8rem; background-image: url("/icons/ico_arrow_left_withe.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; opacity: 0.5; }
.glamping-N7 .swiper-button-prev:hover::after,.glamping-N7 .swiper-button-next:hover::after { opacity: 1; }
.glamping-N7 .swiper-button-next { left: calc(100% + 6.4rem); }
.glamping-N7 .swiper-button-next:after { content: ''; width: 2.8rem; height: 2.8rem; background-image: url("/icons/ico_arrow_right_withe.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; opacity: 0.5; }
.glamping-N7 .swiper-pagination { position: relative; left: 0; bottom: 0; width: auto; }
.glamping-N7 .swiper-pagination-bullet { width: 1rem; height: 1rem; margin: 0 1.2rem 0 0 !important; background-color: rgba(36, 36, 36, 0.3); opacity: 1; }
.glamping-N7 .swiper-pagination-bullet-active { background-color: var(--line-color4); border: none; }
.glamping-N7 .contents-control .btnset { position: absolute; right: 0; }
@media (max-width: 992px) {
 .glamping-N7 .contents-inner { padding: 5rem 2.4rem; }
 .glamping-N7 .textset { margin-bottom: 4rem; }
 .glamping-N7 .swiper-slide { width: 100%; }
 .glamping-N7 .contents-control { flex-direction: column; margin-top: 0.4rem; }
 .glamping-N7 .contents-control .btnset { position: relative; align-self: flex-end; margin-top: 3rem; }
 .glamping-N7 .swiper-button-next, .glamping-N7 .swiper-button-prev { display: none; }
 .glamping-N7 .swiper-pagination-bullet { width: 0.8rem; height: 0.8rem; margin: 0 0.8rem 0 0 !important; }
}

/* glamping-N8 [JmLq616r51] */
.glamping-N8 { overflow: hidden; }
.glamping-N8 .contents-inner { padding: 8rem 2.4rem; }
.glamping-N8 .contents-container { position: relative; }
.glamping-N8 .videoset { width: calc(100% + 64rem); margin-left: -32rem; }
.glamping-N8 .videoset-body { max-width: 128rem; }
@media (max-width: 992px) {
 .glamping-N8 .contents-inner { padding: 5rem 2.4rem; }
 .glamping-N8 .videoset { width: calc(100% + 4.8rem); margin-left: -2.4rem; }
 .glamping-N8 .videoset-body { max-width: calc(100% - 4.8rem); }
}

/* glamping-N9 [eKlQ616R5l] */
.glamping-N9 { overflow: hidden; }
.glamping-N9 .contents-inner { padding: 8rem 2.4rem; }
.glamping-N9 .contents-container { position: relative; overflow: hidden; }
.glamping-N9 .textset { margin-bottom: 7rem; text-align: center; }
.glamping-N9 .textset-tit+.textset-desc { margin-top: 1rem; }
.glamping-N9 .swiper-slide { width: 40rem; margin-right: 4rem; }
.glamping-N9 .cardset-figure { height: 23rem; }
.glamping-N9 .contents-control { display: flex; align-items: center; justify-content: center; gap: 0.8rem; position: absolute; right: 0; bottom: 4rem; }
.glamping-N9 .swiper-button-next,.glamping-N9 .swiper-button-prev { position: relative; left: 0; right: 0; width: 3.2rem; height: 3.2rem; background-color: var(--line-color4); border-radius: 50%; }
.glamping-N9 .swiper-button-prev:after { content: ''; width: 2rem; height: 2rem; background-image: url("/icons/ico_arrow_left_withe.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; opacity: 0.5; }
.glamping-N9 .swiper-button-prev:hover::after,.glamping-N9 .swiper-button-next:hover::after { opacity: 1; }
.glamping-N9 .swiper-button-next:after { content: ''; width: 2rem; height: 2rem; background-image: url("/icons/ico_arrow_right_withe.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; opacity: 0.5; }
@media (max-width: 992px) {
 .glamping-N9 .contents-inner { padding: 5rem 2.4rem; }
 .glamping-N9 .textset { margin-bottom: 7.2rem; }
 .glamping-N9 .textset-tit+.textset-desc { margin-top: 0.5rem; }
 .glamping-N9 .swiper-slide { width: 100%; }
 .glamping-N9 .contents-control { top: 0.5rem; left: 50%; transform: translateX(-50%); }
}

/* glamping-N44 [EoLQ617h66] */
.glamping-N44 .contents-inner { padding: 8rem 2.4rem; }
.glamping-N44 .contents-container { max-width: 50rem; margin: 0 auto; }
.glamping-N44 .textset { text-align: center; }
.glamping-N44 .textset-tit { font-size: var(--fs-h1); line-height: var(--lh-h1); font-weight: 600; }
.glamping-N44 .textset-tit+.textset-desc { font-size: var(--fs-p1); margin-top: 1.8rem; }
.glamping-N44 .contents-form { margin: 6rem 0; }
.glamping-N44 .contents-form .inputset+.inputset { margin-top: 0.8rem; }
.glamping-N44 .contents-form .inputset-input { font-size: 1.4rem; }
.glamping-N44 .contents-form .form-control { border-width: 2px; }
.glamping-N44 .contents-util { display: flex; justify-content: space-between; margin-top: 2rem; }
.glamping-N44 .contents-util .checkset-text { font-size: var(--fs-p2); }
.glamping-N44 .contents-find a { position: relative; padding-right: 1.6rem; font-size: var(--fs-p2); }
.glamping-N44 .contents-find a+a { padding-left: 1.6rem; padding-right: 0; }
.glamping-N44 .contents-find a+a::before { content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 1px; height: 1.6rem; background-color: #707070; }
.glamping-N44 .contents-btnset { margin-top: 4rem; }
.glamping-N44 .contents-btnset .btnset { width: 100%; }
.glamping-N44 .contents-btnset .btnset+.btnset { margin-left: 0; margin-top: 0.8rem; }
.glamping-N44 .contents-or { display: flex; align-items: center; width: 100%; }
.glamping-N44 .contents-or::before { content: ''; display: inline-block; width: 100%; height: 0.1rem; background-color: var(--line-color1); }
.glamping-N44 .contents-or::after { content: ''; display: inline-block; width: 100%; height: 0.1rem; background-color: var(--line-color1); }
.glamping-N44 .contents-or span { flex-shrink: 0; margin: 0 2rem; font-size: 1.4rem; font-weight: 500; }
.glamping-N44 .contents-list { display: flex; flex-wrap: wrap; align-items: center; justify-content: center; gap: 2rem; margin-top: 2rem; }
.glamping-N44 .contents-figure { width: 6rem; height: 6rem; padding: 1.4rem; margin: 0 auto; border-radius: 50%; }
.glamping-N44 .contents-figure.ico-kakao { background-color: #fae100; }
.glamping-N44 .contents-figure.ico-naver { background-color: #2db400; }
.glamping-N44 .contents-figure.ico-apple { background-color: #111111; }
.glamping-N44 .contents-icon { width: 100%; height: 100%; object-fit: contain; }
.glamping-N44 .content-sns { display: inline-block; width: 100%; margin-top: 0.8rem; font-size: 1.4rem; line-height: 2rem; font-weight: 500; text-align: center; }
@media (max-width: 992px) {
 .glamping-N44 .contents-inner { padding: 5rem 2.4rem; }
 .glamping-N44 .textset-tit+.textset-desc { margin-top: 0.8rem; }
 .glamping-N44 .contents-form { margin: 4rem 0; }
 .glamping-N44 .contents-util { display: block; }
 .glamping-N44 .contents-find { margin-top: 0.8rem; text-align: right; }
 .glamping-N44 .contents-find a { padding-right: 0.8rem; }
 .glamping-N44 .contents-find a+a { padding-left: 0.8rem; }
 .glamping-N44 .contents-btnset { margin-top: 2rem; }
 .glamping-N44 .contents-list { margin-top: 1.6rem; }
 .glamping-N44 .contents-figure { width: 5rem; height: 5rem; padding: 1.1rem; }
}

/* glamping-N47 [XBlq64fLMV] */
.glamping-N47 .contents-inner { padding: 8rem 2.4rem; }
.glamping-N47 .contents-top { display: flex; align-items: center; justify-content: space-between; margin-bottom: 2rem; }
.glamping-N47 .contents-tit { font-size: var(--fs-h5); line-height: var(--lh-h5); font-weight: 600; }
.glamping-N47 .contents-top span { font-size: var(--fs-p2); line-height: var(--lh-p2); }
.glamping-N47 .contents-group { padding-top: 2.4rem; border-top: 1px solid var(--line-color4); }
.glamping-N47 .form-wrap+.form-wrap { margin-top: 1.6rem; }
.glamping-N47 .form-wrap .form-tit { min-width: 15.3rem; }
.glamping-N47 .form-wrap .inputset { width: 100%; border-width: 2px !important; }
.glamping-N47 .form-wrap .form-control { border-width: 2px !important; }
.glamping-N47 .contents-form-group { display: flex; gap: 1.2rem; width: 100%; }
.glamping-N47 .selectset { max-width: 35rem; }
.glamping-N47 .contents-mail { display: flex; align-items: center; gap: 0.8rem; width: 100%; margin-right: 1.2rem; }
.glamping-N47 .checkset-wrap { margin-bottom: 2rem; }
.glamping-N47 .checkset-wrap .checkset input:checked+.checkset-thumb { background-color: var(--line-color4); }
.glamping-N47 .contents-address { width: 100%; }
.glamping-N47 .contents-address .contents-form-group { margin-bottom: 1.6rem; }
.glamping-N47 .contents-btn-group { margin-top: 8rem; text-align: center; }
@media (max-width: 992px) {
 .glamping-N47 .contents-inner { padding: 5rem 2.4rem; }
 .glamping-N47 .contents-tit { margin-bottom: 1.6rem; }
 .glamping-N47 .form-wrap { flex-wrap: wrap; gap: 0.8rem; }
 .glamping-N47 .form-wrap+.form-wrap { margin-top: 1rem; }
 .glamping-N47 .contents-form-group { gap: 0.8rem; }
 .glamping-N47 .selectset { max-width: 100%; }
 .glamping-N47 .contents-mail { margin-right: 0; }
 .glamping-N47 .contents-address .contents-form-group { margin-bottom: 0.8rem; }
 .glamping-N47 .contents-btn-group { margin-top: 4rem; }
}

/* glamping-N48 [nZLQ64fy5J] */
.glamping-N48 .contents-inner { padding: 8rem 2.4rem; }
.glamping-N48 .contents-icon { display: flex; align-items: center; justify-content: center; width: 8rem; height: 8rem; margin: 0 auto; padding: 2rem; border-radius: 50%; background-color: var(--primary); }
.glamping-N48 .contents-icon img { width: 100%; height: 100%; object-fit: contain; }
.glamping-N48 .textset { margin-top: 4rem; text-align: center; }
.glamping-N48 .textset-tit { font-size: var(--fs-h2); line-height: var(--lh-h2); font-weight: 500; }
.glamping-N48 .textset-tit+.textset-desc { margin-top: 1.8rem; }
.glamping-N48 .contents-btnset { margin-top: 8rem; text-align: center; }
@media (max-width: 992px) {
 .glamping-N48 .contents-inner { padding: 5rem 2.4rem; }
 .glamping-N48 .contents-icon { width: 6rem; height: 6rem; padding: 1.4rem; }
 .glamping-N48 .textset { margin-top: 2rem; }
 .glamping-N48 .textset-tit+.textset-desc { margin-top: 0.8rem; }
 .glamping-N48 .contents-btnset { margin-top: 4rem; text-align: center; }
}

/* glamping-N12 [lyLQ64gax7] */
.glamping-N12 .contents-inner { padding: 8rem 2.4rem; }
@media (max-width: 992px) {
 .glamping-N12 .contents-inner { padding: 5rem 2.4rem; }
}

/* glamping-N20 [KSLq64gAxN] */
.glamping-N20 .contents-inner { padding: 8rem 2.4rem; }
.glamping-N20 .contents-list { display: flex; margin-bottom: 8rem; }
.glamping-N20 .contents-item { display: flex; align-items: center; position: relative; width: 50%; }
.glamping-N20 .contents-item+.contents-item { padding-left: 6rem; }
.glamping-N20 .contents-item+.contents-item::before { content: ''; position: absolute; left: 0; width: 1px; height: 100%; background-color: var(--line-color3); }
.glamping-N20 .contents-icon { flex-shrink: 0; width: 8rem; height: 8rem; margin-right: 2rem; padding: 2rem; border-radius: 50%; background-color: var(--primary); }
.glamping-N20 .contents-img { width: 100%; height: 100%; object-fit: contain; }
.glamping-N20 .contents-text { font-size: var(--fs-p1); font-weight: 400; color: var(--text-color2); }
.glamping-N20 .contents-text+.contents-text { margin-top: 1rem; }
.glamping-N20 .contents-text strong { display: inline-block; min-width: 6.5rem; margin-right: 2.4rem; font-weight: 600; }
.glamping-N20 .root_daum_roughmap { width: 100%; }
.glamping-N20 .root_daum_roughmap .wrap_map { height: 50rem; }
.glamping-N20 .root_daum_roughmap .wrap_controllers { display: none; }
@media (max-width: 992px) {
 .glamping-N20 .contents-inner { padding: 5rem 2.4rem; }
 .glamping-N20 .contents-list { flex-direction: column; margin-bottom: 4rem; }
 .glamping-N20 .contents-item { width: 100%; }
 .glamping-N20 .contents-item+.contents-item { padding-left: 0; margin-top: 1.6rem; }
 .glamping-N20 .contents-item+.contents-item::before { content: none; }
 .glamping-N20 .contents-icon { width: 6rem; height: 6rem; margin-right: 0.8rem; padding: 1.4rem; }
 .glamping-N20 .contents-text { font-size: var(--fs-p2); }
 .glamping-N20 .contents-text+.contents-text { margin-top: 0.4rem; }
 .glamping-N20 .contents-text strong { min-width: 5rem; margin-right: 1.6rem; }
 .glamping-N20 .root_daum_roughmap .wrap_map { height: 24rem; }
}

/* glamping-N41 [qIlq64Gw7A] */
.glamping-N41 .contents-inner { padding: 8rem 2.4rem; }
.glamping-N41 .contents-top { display: flex; align-items: center; justify-content: space-between; }
.glamping-N41 .contents-text { width: 50%; font-size: var(--fs-p2); line-height: var(--lh-p2); color: var(--text-color4); }
.glamping-N41 .contents-text strong { color: var(--text-color1); }
.glamping-N41 .inputset { width: 100%; max-width: 40rem; }
.glamping-N41 .cardset-wrap { flex-wrap: wrap; margin: 0 -2rem 0 -2rem; }
.glamping-N41 .cardset { width: calc(100% / 3); padding: 2rem; }
.glamping-N41 .cardset-figure { height: 38rem; }
.glamping-N41 .cardset-body { padding-bottom: 0; }
.glamping-N41 .pagiset { margin-top: 6rem; }
@media (max-width: 992px) {
 .glamping-N41 .contents-inner { padding: 5rem 2.4rem; }
 .glamping-N41 .contents-top { flex-direction: column-reverse; align-items: flex-start; gap: 2rem; }
 .glamping-N41 .contents-text { width: 100%; }
 .glamping-N41 .inputset { max-width: 100%; }
 .glamping-N41 .cardset-wrap { margin: 0; }
 .glamping-N41 .cardset { width: 100%; padding: 0; }
 .glamping-N41 .cardset+.cardset { margin-top: 2rem; }
 .glamping-N41 .cardset-figure { height: 22rem; }
 .glamping-N41 .pagiset { margin-top: 4rem; }
}

/* glamping-N42 [cClQ64hjOx] */
.glamping-N42 .contents-inner { padding: 8rem 2.4rem; }
.glamping-N42 .form-tit { margin-bottom: 2rem; font-size: var(--fs-h5); line-height: var(--lh-h3); font-weight: 600; }
.glamping-N42 .form-tit span { font-size: var(--fs-h6); font-weight: 400; }
.glamping-N42 .contents-list { padding: 4rem; background-color: var(--highlight-bg); }
.glamping-N42 .contents-item+.contents-item { margin-top: 3rem; }
.glamping-N42 .contents-item strong { font-size: var(--fs-p1); line-height: var(--lh-p1); font-weight: 500; }
.glamping-N42 .contents-item strong+p { margin-top: 0.8rem; }
.glamping-N42 .contents-item p { font-size: var(--fs-p2); line-height: var(--lh-p2); font-weight: 400; color: #666666; }
.glamping-N42 .radioset-wrap { justify-content: flex-end; margin-top: 2rem; }
.glamping-N42 .radioset-input:checked+.radioset-label::before { color: var(--text-color1); }
@media (max-width: 992px) {
 .glamping-N42 .contents-inner { padding: 5rem 2.4rem; }
 .glamping-N42 .form-tit { margin-bottom: 0.8rem; }
 .glamping-N42 .form-tit span { font-size: 1.4rem; }
 .glamping-N42 .contents-list { padding: 1.6rem; }
 .glamping-N42 .contents-item+.contents-item { margin-top: 3rem; }
 .glamping-N42 .radioset-wrap { flex-wrap: wrap; gap: 0.8rem; margin-top: 1.6rem; }
}

/* glamping-N43 [pALQ64hJpI] */
.glamping-N43 .contents-inner { padding: 8rem 2.4rem; }
.glamping-N43 .contents-tit { margin-bottom: 2rem; font-size: var(--fs-h5); line-height: var(--lh-h5); font-weight: 600; }
.glamping-N43 .contents-group { padding-top: 2.4rem; border-top: 1px solid var(--line-color4); }
.glamping-N43 .form-wrap+.form-wrap { margin-top: 1.6rem; }
.glamping-N43 .form-wrap .form-tit { min-width: 11.7rem; }
.glamping-N43 .form-wrap .radioset-input:checked+.radioset-label::before { color: var(--line-color4); }
.glamping-N43 .form-wrap .inputset { width: 100%; border-width: 2px !important; }
.glamping-N43 .form-wrap .form-control { border-width: 2px !important; }
.glamping-N43 .contents-form-group { display: flex; gap: 2rem; width: 100%; }
.glamping-N43 .selectset { max-width: 35rem; }
.glamping-N43 .contents-mail { display: flex; align-items: center; gap: 0.8rem; width: 100%; margin-right: 2rem; }
.glamping-N43 .checkset-wrap { margin-bottom: 2rem; }
.glamping-N43 .checkset-wrap .checkset input:checked+.checkset-thumb { background-color: var(--line-color4); }
.glamping-N43 .contents-desc { margin-top: 0.8rem; font-size: var(--fs-p2); line-height: var(--lh-p2); color: var(--text-color3); }
.glamping-N43 .contents-btn-group { margin-top: 8rem; text-align: center; }
@media (max-width: 992px) {
 .glamping-N43 .contents-inner { padding: 5rem 2.4rem; }
 .glamping-N43 .contents-tit { margin-bottom: 1.6rem; }
 .glamping-N43 .form-wrap { flex-wrap: wrap; gap: 0.8rem; }
 .glamping-N43 .contents-form-group { flex-direction: column; gap: 0.8rem; }
 .glamping-N43 .selectset { max-width: 100%; }
 .glamping-N43 .contents-mail { margin-right: 0; }
 .glamping-N43 .contents-btn-group { margin-top: 4rem; }
}
